xsd/pgt/imgeo-pgt-local.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) by Kevin van Kuik (Transfer Solutions B.V.) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) -->
<!-- $Id: imgeo-pgt.xsd 386 2017-08-09 14:04:13Z richard_huesken $ -->
<!-- 2018-07-03 Crotec Beheer XSD overgenomen door Crotec -->
<!-- 2018-07-03 Crotec KWD: ook geometry type Point mogelijk -->
<!-- 2018-07-03 Crotec domeinlijsten (pgt-type) Pand en OverigBouwwerk bijgewerkt -->
<!-- 2018-07-09 Crotec KWD: pgt-type ballastkering toegevoegd -->
<!-- 2018-09-11 Crotec Verkeersregelinstallatiekast wordt verkeersregelinstallatiekast en Lanschappelijk gebied wordt Landschappelijk gebied -->
<!-- 2021-06-23 TPG    SHD: element pgt-wissel-spoornummer toegevoegd; arbo-veiligheidshekwerk-inklapbaar en arbo-veiligheidshekwerk-vast aan codelijst van pgt-type toegevoegd -->
<!-- 2021-10-15 TPG    WGD: element pgt-fysiekVoorkomen toegevoegd (met als mogelijke waarde anti-loopmat -->
<!-- 2021-11-15 TPG    PND: element pgt-type uitgebreid met waarde lift transfer -->
<!-- 2021-11-15 TPG    OBW: element pgt-type uitgebreid met waarde lift transfer -->

<xs:schema xmlns="http://www.prorail.nl/imgeo-pgt/2.1" xmlns:gml="http://www.opengis.net/gml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:imgeo-pgt="http://www.prorail.nl/imgeo-pgt/2.1" targetNamespace="http://www.prorail.nl/imgeo-pgt/2.1" elementFormDefault="qualified">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="Xsd\gml-3.1.1.2\gml\3.1.1\base\gml.xsd"/>
	<!-- GeoObjectType: algemene attributen -->
	<xs:element name="GeoObject" type="imgeo-pgt:GeoObjectType" abstract="false" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="GeoObjectType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<!-- IMGEO Attributen. Zijn verplicht aanwezig conform IMGEO 2.1.1 -->
					<xs:element ref="imgeo-pgt:identificatie"/>
					<xs:element ref="imgeo-pgt:creationDate"/>
					<xs:element ref="imgeo-pgt:terminationDate"/>
					<xs:element ref="imgeo-pgt:tijdstipRegistratie"/>
					<xs:element ref="imgeo-pgt:bronhouder"/>
					<xs:element ref="imgeo-pgt:inOnderzoek"/>
					<xs:element ref="imgeo-pgt:relatieveHoogteligging"/>
					<xs:element ref="imgeo-pgt:bgt-status"/>
					<xs:element ref="imgeo-pgt:plus-status"/>
					<!-- Algemene PGT Attributen. Deze zijn verplicht aanwezig om de volgorde van de attributen niet teveel te verstoren -->
					<xs:element ref="imgeo-pgt:pgt-nauwkeurigheid"/>
					<xs:element ref="imgeo-pgt:pgt-inwinningsmethode"/>
					<xs:element ref="imgeo-pgt:pgt-inwinnendeinstantie"/>
					<xs:element ref="imgeo-pgt:pgt-status"/>
					<xs:element ref="imgeo-pgt:pgt-naam"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- BAK: Bak -->
	<xs:element name="bak" type="bakType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="bakType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="afval apart plaats"/>
								<xs:enumeration value="afvalbak"/>
								<xs:enumeration value="drinkbak"/>
								<xs:enumeration value="bloembak"/>
								<xs:enumeration value="zand- / zoutbak"/>
								<xs:enumeration value="container"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Point"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- BRD: Bord -->
	<xs:element name="brd" type="brdType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="brdType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="informatiebord"/>
								<xs:enumeration value="plaatsnaambord"/>
								<xs:enumeration value="straatnaambord"/>
								<xs:enumeration value="verkeersbord"/>
								<xs:enumeration value="scheepvaartbord"/>
								<xs:enumeration value="verklikker transportleiding"/>
								<xs:enumeration value="reclamebord"/>
								<xs:enumeration value="wegwijzer"/>
								<xs:enumeration value="waarschuwingshek"/>
								<xs:enumeration value="dynamische snelheidsindicator"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Point"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- BRT: Buurt -->
	<xs:element name="brt" type="brtType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="brtType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="buurtcode">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[0-9]{8}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="naam">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="200"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ligtIn" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="identificatie"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:MultiSurface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- BTD: Begroeid Terreindeel -->
	<xs:element name="btd" type="btdType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="btdType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-fysiekVoorkomen">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="loofbos"/>
								<xs:enumeration value="gemengd bos"/>
								<xs:enumeration value="naaldbos"/>
								<xs:enumeration value="heide"/>
								<xs:enumeration value="struiken"/>
								<xs:enumeration value="houtwal"/>
								<xs:enumeration value="duin"/>
								<xs:enumeration value="grasland overig"/>
								<xs:enumeration value="moeras"/>
								<xs:enumeration value="rietland"/>
								<xs:enumeration value="kwelder"/>
								<xs:enumeration value="fruitteelt"/>
								<xs:enumeration value="boomteelt"/>
								<xs:enumeration value="bouwland"/>
								<xs:enumeration value="grasland agrarisch"/>
								<xs:enumeration value="groenvoorziening"/>
								<xs:enumeration value="transitie"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-fysiekVoorkomen" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="transitie"/>
								<xs:enumeration value="akkerbouw"/>
								<xs:enumeration value="braakliggend"/>
								<xs:enumeration value="vollegrondsteelt"/>
								<xs:enumeration value="bollenteelt"/>
								<xs:enumeration value="bosplantsoen"/>
								<xs:enumeration value="gras- en kruidachtigen"/>
								<xs:enumeration value="planten"/>
								<xs:enumeration value="struikrozen"/>
								<xs:enumeration value="heesters"/>
								<xs:enumeration value="bodembedekkers"/>
								<xs:enumeration value="laagstam boomgaarden"/>
								<xs:enumeration value="hoogstam boomgaarden"/>
								<xs:enumeration value="wijngaarden"/>
								<xs:enumeration value="klein fruit"/>
								<xs:enumeration value="griend en hakhout"/>
								<xs:enumeration value="open duinvegetatie"/>
								<xs:enumeration value="gesloten duinvegetatie"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element ref="opTalud"/>
					<xs:element ref="kruinlijn" minOccurs="0"/>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:Surface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- FUG: Functioneel Gebied -->
	<xs:element name="fug" type="fugType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="fugType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="naam" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="bgt-type" nillable="true">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="kering"/>
								<xs:enumeration value="niet-bgt"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="bedrijvigheid"/>
								<xs:enumeration value="natuur en landschap"/>
								<xs:enumeration value="landbouw"/>
								<xs:enumeration value="bewoning"/>
								<xs:enumeration value="infrastructuur verkeer en vervoer"/>
								<xs:enumeration value="infrastructuur waterstaatswerken"/>
								<xs:enumeration value="waterbergingsgebied"/>
								<xs:enumeration value="maatschappelijke en/of publieksvoorziening"/>
								<xs:enumeration value="recreatie"/>
								<xs:enumeration value="begraafplaats"/>
								<xs:enumeration value="functioneel beheer"/>
								<xs:enumeration value="recreatie: speeltuin"/>
								<xs:enumeration value="recreatie: park"/>
								<xs:enumeration value="recreatie: sportterrein"/>
								<xs:enumeration value="recreatie: camping"/>
								<xs:enumeration value="recreatie: bungalowpark"/>
								<xs:enumeration value="recreatie: volkstuin"/>
								<xs:enumeration value="functioneel beheer: hondenuitlaatplaats"/>
								<xs:enumeration value="bushalte"/>
								<xs:enumeration value="carpoolplaats"/>
								<xs:enumeration value="benzinestation"/>
								<xs:enumeration value="verzorgingsplaats"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:Surface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- GBI: Gebouwinstallatie -->
	<xs:element name="gbi" type="gbiType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="gbiType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="bordes"/>
								<xs:enumeration value="luifel"/>
								<xs:enumeration value="toegangstrap"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:Surface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- INS: Installatie -->
	<xs:element name="ins" type="insType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="insType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="pomp"/>
								<xs:enumeration value="zonnepaneel"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Point"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- KST: Kast-->
	<xs:element name="kst" type="kstType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="kstType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="CAI-kast"/>
								<xs:enumeration value="elektrakast"/>
								<xs:enumeration value="gaskast"/>
								<xs:enumeration value="telecom kast"/>
								<xs:enumeration value="rioolkast"/>
								<xs:enumeration value="openbare verlichtingkast"/>
								<xs:enumeration value="verkeersregelinstallatiekast"/>
								<xs:enumeration value="telkast"/>
								<xs:enumeration value="GMS kast"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Point"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- KWD: Kunstwerkdeel -->
	<xs:element name="kwd" type="kwdType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="kwdType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="hoogspanningsmast"/>
								<xs:enumeration value="gemaal"/>
								<xs:enumeration value="perron"/>
								<xs:enumeration value="sluis"/>
								<xs:enumeration value="strekdam"/>
								<xs:enumeration value="steiger"/>
								<xs:enumeration value="stuw"/>
								<xs:enumeration value="niet-bgt"/>
								<xs:enumeration value="transitie"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="keermuur"/>
								<xs:enumeration value="overkluizing"/>
								<xs:enumeration value="duiker"/>
								<xs:enumeration value="faunavoorziening"/>
								<xs:enumeration value="vispassage"/>
								<xs:enumeration value="bodemval"/>
								<xs:enumeration value="coupure"/>
								<xs:enumeration value="ponton"/>
								<xs:enumeration value="voorde"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Surface"/>
								<xs:element ref="gml:MultiSurface"/>
								<xs:element ref="gml:MultiPoint"/>
								<xs:element ref="gml:LineString"/>
								<xs:element ref="gml:Curve"/>
								<xs:element ref="gml:Point"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="pgt-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="serviceperron"/>
								<xs:enumeration value="grote faunatunnel"/>
								<xs:enumeration value="kleine faunatunnel"/>
								<xs:enumeration value="loopstrook dwarsrichting"/>
								<xs:enumeration value="loopstrook langrichting"/>
								<xs:enumeration value="ballastkering"/>								
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- MST: Mast -->
	<xs:element name="mst" type="mstType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="mstType">
		<xs:complexContent>
			<xs:extension base="GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="bovenleidingmast"/>
								<xs:enumeration value="laagspanningsmast"/>
								<xs:enumeration value="straalzender"/>
								<xs:enumeration value="zendmast"/>
								<xs:enumeration value="radarmast"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Point"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OBD: Overbruggingsdeel -->
	<xs:element name="obd" type="obdType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="obdType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="typeOverbruggingsdeel" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
								<xs:enumeration value="dek"/>
								<xs:enumeration value="landhoofd"/>
								<xs:enumeration value="pijler"/>
								<xs:enumeration value="sloof"/>
								<xs:enumeration value="pyloon"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="hoortBijTypeOverbrugging" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
								<xs:enumeration value="brug"/>
								<xs:enumeration value="aquaduct"/>
								<xs:enumeration value="viaduct"/>
								<xs:enumeration value="ecoduct"/>
								<xs:enumeration value="fly-over"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="overbruggingIsBeweegbaar" type="boolean-null" minOccurs="0"/>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:Surface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="pgt-hoortbijType" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="spoorbrug"/>
								<xs:enumeration value="spoorviaduct"/>
								<xs:enumeration value="onderdoorgang"/>
								<xs:enumeration value="perronviaduct"/>
								<xs:enumeration value="verkeersbrug/viaduct"/>
								<xs:enumeration value="traverse/stationsbrug"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="ballastkering"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-materiaal" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="staal"/>
								<xs:enumeration value="beton"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-wegnaam" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OBW: Overig Bouwwerk -->
	<xs:element name="obw" type="obwType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="obwType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="overkapping"/>
								<xs:enumeration value="open loods"/>
								<xs:enumeration value="opslagtank"/>
								<xs:enumeration value="bezinkbak"/>
								<xs:enumeration value="windturbine"/>
								<xs:enumeration value="lage trafo"/>
								<xs:enumeration value="bassin"/>
								<xs:enumeration value="niet-bgt"/>
								<xs:enumeration value="transitie"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="bezinkbak"/>
								<xs:enumeration value="bunker"/>
								<xs:enumeration value="voedersilo"/>
								<xs:enumeration value="schuur"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:MultiSurface"/>
								<xs:element ref="gml:Surface"/>
								<xs:element ref="gml:Polygon"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="pgt-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="abri"/>
								<xs:enumeration value="autotransformatorstation"/>
								<xs:enumeration value="brugpost"/>
								<xs:enumeration value="combigebouw"/>
								<xs:enumeration value="dienstgebouw"/>
								<xs:enumeration value="gebouw"/>
								<xs:enumeration value="ivs-gebouw"/>
								<xs:enumeration value="nsa-gebouw"/>
								<xs:enumeration value="omschakelgebouw (OSG)"/>
								<xs:enumeration value="omvormergebouw"/>
								<xs:enumeration value="onderposthuis"/>
								<xs:enumeration value="onderstation"/>
								<xs:enumeration value="overkapping dak - overige"/>
								<xs:enumeration value="perrongebouw"/>
								<xs:enumeration value="perronoverkapping"/>
								<xs:enumeration value="pompgebouw"/>
								<xs:enumeration value="relaishuis"/>
								<xs:enumeration value="rijwielstalling"/>
								<xs:enumeration value="schakelstation"/>
								<xs:enumeration value="stationsgebouw"/>
								<xs:enumeration value="straatkast"/>
								<xs:enumeration value="technische ruimte"/>
								<xs:enumeration value="transformatorgebouw"/>
								<xs:enumeration value="tunnelgebouw (TG)"/>
								<xs:enumeration value="verdeelstation"/>
								<xs:enumeration value="vl-gebouw ns"/>
								<xs:enumeration value="vl-gebouw prorail"/>
								<xs:enumeration value="wisselverwarmingsgebouw (WVG)"/>
								<xs:enumeration value="lift transfer"/>								
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OCO: Ongeclassificeerd Object -->
	<xs:element name="oco" type="ocoType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="ocoType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Surface"/>
								<xs:element ref="gml:Polygon"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OPR: Openbare Ruimte -->
	<xs:element name="opr" type="oprType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="oprType">
		<xs:complexContent>
			<xs:extension base="GeoObjectType">
				<xs:sequence>
					<xs:element ref="identificatieBAG"/>
					<xs:element ref="heeftLabels" minOccurs="0"/>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:Surface"/>
								<xs:element ref="gml:MultiSurface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ORL: Openbare Ruimte Label -->
	<xs:element name="orl" type="orlType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="orlType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element ref="identificatieBAG"/>
					<xs:element ref="openbareRuimteNaam"/>
					<xs:element name="openbareRuimteType">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Weg"/>
								<xs:enumeration value="Water"/>
								<xs:enumeration value="Spoorbaan"/>
								<xs:enumeration value="Terrein"/>
								<xs:enumeration value="Kunstwerk"/>
								<xs:enumeration value="Landschappelijk gebied"/>
								<xs:enumeration value="Administratief gebied"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OSH: Overige Scheiding -->
	<xs:element name="osh" type="oshType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="oshType">
		<xs:complexContent>
			<xs:extension base="GeoObjectType">
				<xs:sequence>
					<xs:element name="plus-type" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="muur"/>
								<xs:enumeration value="kademuur"/>
								<xs:enumeration value="damwand"/>
								<xs:enumeration value="geluidsscherm"/>
								<xs:enumeration value="walbescherming"/>
								<xs:enumeration value="hek"/>
								<xs:enumeration value="draadraster"/>
								<xs:enumeration value="faunaraster"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Curve"/>
								<xs:element ref="gml:LineString"/>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:Surface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="pgt-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
								<xs:enumeration value="arbo-veiligheidshekwerk-inklapbaar"/>
								<xs:enumeration value="arbo-veiligheidshekwerk-vast"/>
								<xs:enumeration value="deels reflecterend/absorberend"/>
								<xs:enumeration value="draadmat"/>
								<xs:enumeration value="florakawand"/>
								<xs:enumeration value="gaashekwerk"/>
								<xs:enumeration value="hellend reflecterend"/>
								<xs:enumeration value="keerwandconstructie"/>
								<xs:enumeration value="onbekend"/>
								<xs:enumeration value="overig type absorberend"/>
								<xs:enumeration value="overig type reflecterend"/>
								<xs:enumeration value="palen met draden"/>
								<xs:enumeration value="schanskorf"/>
								<xs:enumeration value="spijlen / staaf hekwerk"/>
								<xs:enumeration value="standaard absorberend cassettescherm"/>
								<xs:enumeration value="wal met scherpe tophoek"/>
								<xs:enumeration value="wal met stompe hoek"/>
								<xs:enumeration value="wildraster"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-hoogte" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:fractionDigits value="3"/>
								<xs:totalDigits value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-materiaal" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="aarde/zand en baksteen"/>
								<xs:enumeration value="aarde/zand en beton"/>
								<xs:enumeration value="baksteen en transparant materiaal"/>
								<xs:enumeration value="baksteen"/>
								<xs:enumeration value="beton en baksteen"/>
								<xs:enumeration value="beton en transparant materiaal"/>
								<xs:enumeration value="beton en/of houtvezelbeton"/>
								<xs:enumeration value="hout of hardboard"/>
								<xs:enumeration value="metaal en baksteen"/>
								<xs:enumeration value="metaal en beton"/>
								<xs:enumeration value="metaal"/>
								<xs:enumeration value="natuursteen"/>
								<xs:enumeration value="transparant materiaal en metaal"/>
								<xs:enumeration value="transparant materiaal"/>
								<xs:enumeration value="vezelmateriaal"/>
								<xs:enumeration value="zand of aarde"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-wissel-spoornummer" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OTD: Onbegroeid Terreindeel -->
	<xs:element name="otd" type="otdType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="otdType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-fysiekVoorkomen">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="erf"/>
								<xs:enumeration value="gesloten verharding"/>
								<xs:enumeration value="open verharding"/>
								<xs:enumeration value="half verhard"/>
								<xs:enumeration value="onverhard"/>
								<xs:enumeration value="zand"/>
								<xs:enumeration value="duin"/>
								<xs:enumeration value="transitie"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-fysiekVoorkomen" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="strand en strandwal"/>
								<xs:enumeration value="zandverstuiving"/>
								<xs:enumeration value="asfalt"/>
								<xs:enumeration value="cementbeton"/>
								<xs:enumeration value="kunststof"/>
								<xs:enumeration value="betonstraatstenen"/>
								<xs:enumeration value="gebakken klinkers"/>
								<xs:enumeration value="tegels"/>
								<xs:enumeration value="sierbestrating"/>
								<xs:enumeration value="beton element"/>
								<xs:enumeration value="grasklinkers"/>
								<xs:enumeration value="schelpen"/>
								<xs:enumeration value="puin"/>
								<xs:enumeration value="grind"/>
								<xs:enumeration value="gravel"/>
								<xs:enumeration value="boomschors"/>
								<xs:enumeration value="zand"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element ref="opTalud"/>
					<xs:element ref="kruinlijn" minOccurs="0"/>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:Surface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="pgt-fysiekVoorkomen" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="anti-loopmat"/>
								<xs:enumeration value="anti-vegetatiemat"/>
								<xs:enumeration value="werk in uitvoering"/>
								<xs:enumeration value="niet te zien"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OWG: Ondersteunend Wegdeel -->
	<xs:element name="owg" type="owgType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="owgType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-functie">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="transitie"/>
								<xs:enumeration value="verkeerseiland"/>
								<xs:enumeration value="berm"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-functie" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="bgt-fysiekVoorkomen">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="gesloten verharding"/>
								<xs:enumeration value="open verharding"/>
								<xs:enumeration value="half verhard"/>
								<xs:enumeration value="onverhard"/>
								<xs:enumeration value="groenvoorziening"/>
								<xs:enumeration value="transitie"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-fysiekVoorkomen" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="asfalt"/>
								<xs:enumeration value="cementbeton"/>
								<xs:enumeration value="betonstraatstenen"/>
								<xs:enumeration value="gebakken klinkers"/>
								<xs:enumeration value="tegels"/>
								<xs:enumeration value="sierbestrating"/>
								<xs:enumeration value="beton element"/>
								<xs:enumeration value="grasklinkers"/>
								<xs:enumeration value="schelpen"/>
								<xs:enumeration value="puin"/>
								<xs:enumeration value="grind"/>
								<xs:enumeration value="gravel"/>
								<xs:enumeration value="boomschors"/>
								<xs:enumeration value="zand"/>
								<xs:enumeration value="bosplantsoen"/>
								<xs:enumeration value="gras- en kruidachtigen"/>
								<xs:enumeration value="planten"/>
								<xs:enumeration value="struikrozen"/>
								<xs:enumeration value="heesters"/>
								<xs:enumeration value="bodembedekkers"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element ref="opTalud"/>
					<xs:element ref="kruinlijn" minOccurs="0"/>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:Surface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OWT: Ondersteunend Waterdeel -->
	<xs:element name="owt" type="owtType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="owtType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="oever, slootkant"/>
								<xs:enumeration value="slik"/>
								<xs:enumeration value="transitie"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Surface"/>
								<xs:element ref="gml:Polygon"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- PAL: Paal -->
	<xs:element name="pal" type="palType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="palType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="lichtmast"/>
								<xs:enumeration value="telpaal"/>
								<xs:enumeration value="portaal"/>
								<xs:enumeration value="verkeersregelinstallatiepaal"/>
								<xs:enumeration value="Punt"/>
								<xs:enumeration value="verkeersbordpaal"/>
								<xs:enumeration value="poller"/>
								<xs:enumeration value="haltepaal"/>
								<xs:enumeration value="vlaggenmast"/>
								<xs:enumeration value="afsluitpaal"/>
								<xs:enumeration value="praatpaal"/>
								<xs:enumeration value="hectometerpaal"/>
								<xs:enumeration value="dijkpaal"/>
								<xs:enumeration value="drukknoppaal"/>
								<xs:enumeration value="grensmarkering"/>
								<xs:enumeration value="sirene"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="hectometeraanduiding" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="200"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Point"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- PND: Pand -->
	<xs:element name="pnd" type="pndType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="pndType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element ref="imgeo-pgt:identificatieBAG"/>
					<xs:element ref="nummeraanduidingreeks" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="geometrie2d">
						<xs:annotation>
							<xs:documentation>PND is een Multivlak geometrie, welke uit 1 of meer polygonen kan bestaan.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:MultiSurface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="pgt-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="perrongebouw"/>
								<xs:enumeration value="stationsgebouw"/>
								<xs:enumeration value="pompgebouw"/>
								<xs:enumeration value="gebouw"/>
								<xs:enumeration value="combigebouw"/>
								<xs:enumeration value="straatkast"/>
								<xs:enumeration value="relaishuis"/>
								<xs:enumeration value="onderposthuis"/>
								<xs:enumeration value="brugpost"/>
								<xs:enumeration value="transformatorgebouw"/>
								<xs:enumeration value="dienstgebouw"/>
								<xs:enumeration value="omvormergebouw"/>
								<xs:enumeration value="onderstation"/>
								<xs:enumeration value="schakelstation"/>
								<xs:enumeration value="vl-gebouw prorail"/>
								<xs:enumeration value="vl-gebouw ns"/>
								<xs:enumeration value="verdeelstation"/>
								<xs:enumeration value="nsa-gebouw"/>
								<xs:enumeration value="ivs-gebouw"/>
								<xs:enumeration value="autotransformatorstation"/>
								<xs:enumeration value="technische ruimte"/>
								<xs:enumeration value="omschakelgebouw (OSG)"/>
								<xs:enumeration value="tunnelgebouw (TG)"/>
								<xs:enumeration value="wisselverwarmingsgebouw (WVG)"/>
								<xs:enumeration value="lift transfer"/>
								<xs:enumeration value=""/>								
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- PUT: Put -->
	<xs:element name="put" type="putType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="putType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="benzine- / olieput"/>
								<xs:enumeration value="brandkraan / -put"/>
								<xs:enumeration value="drainageput"/>
								<xs:enumeration value="gasput"/>
								<xs:enumeration value="inspectie- / rioolput"/>
								<xs:enumeration value="kolk"/>
								<xs:enumeration value="waterleidingput"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Point"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- SHD: Scheiding -->
	<xs:element name="shd" type="shdType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="shdType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="muur"/>
								<xs:enumeration value="kademuur"/>
								<xs:enumeration value="damwand"/>
								<xs:enumeration value="geluidsscherm"/>
								<xs:enumeration value="walbescherming"/>
								<xs:enumeration value="hek"/>
								<xs:enumeration value="niet-bgt"/>
								<xs:enumeration value="transitie"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="draadraster"/>
								<xs:enumeration value="faunaraster"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Curve"/>
								<xs:element ref="gml:LineString"/>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:Surface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="pgt-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="arbo-veiligheidshekwerk-inklapbaar"/>
								<xs:enumeration value="arbo-veiligheidshekwerk-vast"/>
								<xs:enumeration value="standaard absorberend cassettescherm"/>
								<xs:enumeration value="overig type absorberend"/>
								<xs:enumeration value="deels reflecterend/absorberend"/>
								<xs:enumeration value="onbekend"/>
								<xs:enumeration value="hellend reflecterend"/>
								<xs:enumeration value="overig type reflecterend"/>
								<xs:enumeration value="wal met scherpe tophoek"/>
								<xs:enumeration value="wal met stompe hoek"/>
								<xs:enumeration value="schanskorf"/>
								<xs:enumeration value="florakawand"/>
								<xs:enumeration value="keerwandconstructie"/>
								<xs:enumeration value="draadmat"/>
								<xs:enumeration value="gaashekwerk"/>
								<xs:enumeration value="palen met draden"/>
								<xs:enumeration value="spijlen / staaf hekwerk"/>
								<xs:enumeration value="wildraster"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-hoogte" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:fractionDigits value="3"/>
								<xs:totalDigits value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-materiaal" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="beton en/of houtvezelbeton"/>
								<xs:enumeration value="aarde/zand en beton"/>
								<xs:enumeration value="zand of aarde"/>
								<xs:enumeration value="transparant materiaal"/>
								<xs:enumeration value="metaal en baksteen"/>
								<xs:enumeration value="metaal"/>
								<xs:enumeration value="metaal en beton"/>
								<xs:enumeration value="beton en baksteen"/>
								<xs:enumeration value="hout of hardboard"/>
								<xs:enumeration value="baksteen"/>
								<xs:enumeration value="transparant materiaal en metaal"/>
								<xs:enumeration value="beton en transparant materiaal"/>
								<xs:enumeration value="baksteen en transparant materiaal"/>
								<xs:enumeration value="aarde/zand en baksteen"/>
								<xs:enumeration value="vezelmateriaal"/>
								<xs:enumeration value="natuursteen"/>
								<xs:enumeration value="beton en/of houtvezelbeton"/>
								<xs:enumeration value="aarde/zand en beton"/>
								<xs:enumeration value="zand of aarde"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-wissel-spoornummer" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- SNS: Sensor -->
	<xs:element name="sns" type="snsType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="snsType">
		<xs:complexContent>
			<xs:extension base="GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="camera"/>
								<xs:enumeration value="debietmeter"/>
								<xs:enumeration value="hoogtedetectieapparaat"/>
								<xs:enumeration value="detectielus"/>
								<xs:enumeration value="weerstation"/>
								<xs:enumeration value="flitser"/>
								<xs:enumeration value="waterstandmeter"/>
								<xs:enumeration value="windmeter"/>
								<xs:enumeration value="lichtcel"/>
								<xs:enumeration value="GMS sensor"/>
								<xs:enumeration value="radar detector"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Point"/>
								<xs:element ref="gml:Curve"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- SPR: Spoor -->
	<xs:element name="spr" type="sprType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="sprType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-functie">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="trein"/>
								<xs:enumeration value="sneltram"/>
								<xs:enumeration value="tram"/>
								<xs:enumeration value="niet-bgt"/>
								<xs:enumeration value="transitie"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-functie" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="(haven)kraan"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Curve"/>
								<xs:element ref="gml:LineString"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- STD: Stadsdeel -->
	<xs:element name="std" type="stdType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="stdType">
		<xs:complexContent>
			<xs:extension base="GeoObjectType">
				<xs:sequence>
					<xs:element name="naam" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="200"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Surface"/>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:MultiSurface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--STM: Straatmeubilair -->
	<xs:element name="stm" type="stmType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="stmType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="abri"/>
								<xs:enumeration value="bolder"/>
								<xs:enumeration value="brievenbus"/>
								<xs:enumeration value="fietsenrek"/>
								<xs:enumeration value="kunstobject"/>
								<xs:enumeration value="openbaar toilet"/>
								<xs:enumeration value="slagboom"/>
								<xs:enumeration value="speelvoorziening"/>
								<xs:enumeration value="telefooncel"/>
								<xs:enumeration value="bank"/>
								<xs:enumeration value="picknicktafel"/>
								<xs:enumeration value="fontein"/>
								<xs:enumeration value="lichtpunt"/>
								<xs:enumeration value="parkeerbeugel"/>
								<xs:enumeration value="betaalautomaat"/>
								<xs:enumeration value="reclamezuil"/>
								<xs:enumeration value="fietsenkluis"/>
								<xs:enumeration value="herdenkingsmonument"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Point"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- TND: Tunneldeel -->
	<xs:element name="tnd" type="tndType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="tndType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Surface"/>
								<xs:element ref="gml:Polygon"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="pgt-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="spoortunnelbuis"/>
								<xs:enumeration value="stationstunnel"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-naam-verkort" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- VGO: Vegetatieobject -->
	<xs:element name="vgo" type="vgoType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="vgoType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="boom"/>
								<xs:enumeration value="haag"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Curve"/>
								<xs:element ref="gml:LineString"/>
								<xs:element ref="gml:Point"/>
								<xs:element ref="gml:Surface"/>
								<xs:element ref="gml:Polygon"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- WGD: Wegdeel -->
	<xs:element name="wgd" type="wgdType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="wgdType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-functie">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="OV-baan"/>
								<xs:enumeration value="overweg"/>
								<xs:enumeration value="spoorbaan"/>
								<xs:enumeration value="baan voor vliegverkeer"/>
								<xs:enumeration value="rijbaan autosnelweg"/>
								<xs:enumeration value="rijbaan autoweg"/>
								<xs:enumeration value="rijbaan regionale weg"/>
								<xs:enumeration value="rijbaan lokale weg"/>
								<xs:enumeration value="fietspad"/>
								<xs:enumeration value="voetpad"/>
								<xs:enumeration value="voetpad op trap"/>
								<xs:enumeration value="ruiterpad"/>
								<xs:enumeration value="parkeervlak"/>
								<xs:enumeration value="voetgangersgebied"/>
								<xs:enumeration value="inrit"/>
								<xs:enumeration value="woonerf"/>
								<xs:enumeration value="transitie"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-functie" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="verbindingsweg"/>
								<xs:enumeration value="calamiteitendoorsteek"/>
								<xs:enumeration value="verkeersdrempel"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="bgt-fysiekVoorkomen">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="gesloten verharding"/>
								<xs:enumeration value="open verharding"/>
								<xs:enumeration value="half verhard"/>
								<xs:enumeration value="onverhard"/>
								<xs:enumeration value="transitie"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-fysiekVoorkomen" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="asfalt"/>
								<xs:enumeration value="cementbeton"/>
								<xs:enumeration value="betonstraatstenen"/>
								<xs:enumeration value="gebakken klinkers"/>
								<xs:enumeration value="tegels"/>
								<xs:enumeration value="sierbestrating"/>
								<xs:enumeration value="beton element"/>
								<xs:enumeration value="grasklinkers"/>
								<xs:enumeration value="schelpen"/>
								<xs:enumeration value="puin"/>
								<xs:enumeration value="grind"/>
								<xs:enumeration value="gravel"/>
								<xs:enumeration value="boomschors"/>
								<xs:enumeration value="zand"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element ref="opTalud"/>
					<xs:element ref="kruinlijn" minOccurs="0"/>
					<xs:element name="geometrie2d">
						<xs:annotation>
							<xs:documentation>WGD is een Vlak geometrie.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:Surface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="pgt-functie" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="taludtrap"/>
								<xs:enumeration value="anti-icinginstallatie"/>
								<xs:enumeration value="railinzetplaats"/>
								<xs:enumeration value="open bak"/>
								<xs:enumeration value="perron hellingbaan"/>
								<xs:enumeration value="lift transfer"/>
								<xs:enumeration value="roltrap"/>
								<xs:enumeration value="tankplaat"/>
								<xs:enumeration value="wasplaats"/>
								<xs:enumeration value="werkkuil"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-naam-verkort" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pgt-fysiekVoorkomen" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="anti-loopmat"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- WGI: Weginrichtingselement -->
	<xs:element name="wgi" type="wgiType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="wgiType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="molgoot"/>
								<xs:enumeration value="lijnafwatering"/>
								<xs:enumeration value="wegmarkering"/>
								<xs:enumeration value="wildrooster"/>
								<xs:enumeration value="rooster"/>
								<xs:enumeration value="geleideconstructie"/>
								<xs:enumeration value="balustrade"/>
								<xs:enumeration value="boomspiegel"/>
								<xs:enumeration value="verblindingswering"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Point"/>
								<xs:element ref="gml:LineString"/>
								<xs:element ref="gml:Curve"/>
								<xs:element ref="gml:Surface"/>
								<xs:element ref="gml:Polygon"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="pgt-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="dassenklep"/>
								<xs:enumeration value="herteninspring"/>
								<xs:enumeration value="wildrooster"/>
								<xs:enumeration value="amfibienscherm"/>
								<xs:enumeration value="antizwanenvoorziening"/>
								<xs:enumeration value="reegoot"/>
								<xs:enumeration value="wildraster"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- WSP: Waterschap -->
	<xs:element name="wsp" type="wspType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="wspType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="naam" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="200"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:MultiSurface"/>
								<xs:element ref="gml:Surface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- WTD: Waterdeel -->
	<xs:element name="wtd" type="wtdType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="wtdType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="zee"/>
								<xs:enumeration value="waterloop"/>
								<xs:enumeration value="watervlakte"/>
								<xs:enumeration value="greppel, droge sloot"/>
								<xs:enumeration value="transitie"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="rivier"/>
								<xs:enumeration value="sloot"/>
								<xs:enumeration value="kanaal"/>
								<xs:enumeration value="beek"/>
								<xs:enumeration value="gracht"/>
								<xs:enumeration value="bron"/>
								<xs:enumeration value="haven"/>
								<xs:enumeration value="meer, plas, ven, vijver"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Polygon"/>
								<xs:element ref="gml:Surface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- WTI: Waterinrichtingsdeel -->
	<xs:element name="wti" type="wtiType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="wtiType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="bgt-type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="niet-bgt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plus-type" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="remmingswerk"/>
								<xs:enumeration value="betonning"/>
								<xs:enumeration value="geleidewerk"/>
								<xs:enumeration value="vuilvang"/>
								<xs:enumeration value="meerpaal"/>
								<xs:enumeration value="hoogtemerk"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:Curve"/>
								<xs:element ref="gml:LineString"/>
								<xs:element ref="gml:Point"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- WYK: Wijk -->
	<xs:element name="wyk" type="wykType" abstract="false" substitutionGroup="imgeo-pgt:GeoObject"/>
	<xs:complexType name="wykType">
		<xs:complexContent>
			<xs:extension base="imgeo-pgt:GeoObjectType">
				<xs:sequence>
					<xs:element name="wijkcode">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[0-9]{6}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="naam" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="200"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ligtIn" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="identificatie" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="geometrie2d">
						<xs:complexType>
							<xs:choice>
								<xs:element ref="gml:MultiSurface"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Hier worden de restrictions op de verschillende generieke elements gedefinieerd. -->
	<xs:simpleType name="empty-string">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="boolean-null">
		<xs:annotation>
			<xs:documentation>Speciaal type om de null waarde uit de xml toch te kunnen valideren</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:boolean empty-string"/>
	</xs:simpleType>
	<xs:simpleType name="date-null">
		<xs:annotation>
			<xs:documentation>Speciaal type om de null waarde uit de xml toch te kunnen valideren</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date empty-string"/>
	</xs:simpleType>
	<xs:simpleType name="posint-null">
		<xs:annotation>
			<xs:documentation>Speciaal type om de null waarde uit de xml toch te kunnen valideren</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:positiveInteger empty-string"/>
	</xs:simpleType>
	<!-- Algemene IMGEO elementen -->
	<xs:element name="identificatie">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="imgeo-pgt:namespace"/>
				<xs:element ref="imgeo-pgt:lokaalID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lokaalID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Z][0-9]{4}.[0-9a-f]{32}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="namespace">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NL.IMGEO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="creationDate" type="xs:date" nillable="false"/>
	<xs:element name="terminationDate" type="date-null" nillable="true"/>
	<xs:element name="tijdstipRegistratie">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9]{8,17}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bronhouder">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Z][0-9]{4}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="inOnderzoek" type="imgeo-pgt:boolean-null"/>
	<xs:element name="relatieveHoogteligging" nillable="false">
		<xs:annotation>
			<xs:documentation>Geeft de relatieve hoogteligging ten opzichte van andere geometrische objecten op hetzelfde punt</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="-10"/>
				<xs:maxInclusive value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bgt-status" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="bestaand"/>
				<xs:enumeration value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="plus-status" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="plan"/>
				<xs:enumeration value="historie"/>
				<xs:enumeration value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Algemene PGT elemnten -->
	<xs:element name="pgt-nauwkeurigheid" type="posint-null" nillable="true">
		<xs:annotation>
			<xs:documentation>Positionele nauwkeurheid tussen punten van een object in cm</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pgt-inwinningsmethode" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
				<xs:enumeration value="terrestrisch"/>
				<xs:enumeration value="laser"/>
				<xs:enumeration value="fotogrammetrisch"/>
				<xs:enumeration value="panoramabeelden"/>
				<xs:enumeration value="digitaliseren"/>
				<xs:enumeration value="scannen"/>
				<xs:enumeration value="bouwtekening"/>
				<xs:enumeration value="geconstrueerd"/>
				<xs:enumeration value="onbekend"/>
				<xs:enumeration value="GPS"/>
				<xs:enumeration value="DGPS"/>
				<xs:enumeration value="RTK"/>
				<xs:enumeration value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pgt-inwinnendeinstantie" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pgt-status" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
				<xs:enumeration value="voorlopig ontwerp"/>
				<xs:enumeration value="definitief ontwerp"/>
				<xs:enumeration value="gerealiseerd"/>
				<xs:enumeration value="gesloopt"/>
				<xs:enumeration value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pgt-naam" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Specifieke elementen-->
	<xs:element name="kruinlijn" nillable="true">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="gml:Curve"/>
				<xs:element ref="gml:LineString"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="opTalud" type="boolean-null" nillable="true"/>
	<xs:element name="bgt-fysiekVoorkomen">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="open verharding"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="plus-fysiekVoorkomen">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="betonstraatstenen"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ObjectNummering">
		<xs:restriction base="xs:string">
			<xs:length value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ObjectNummering-null">
		<xs:annotation>
			<xs:documentation>Speciaal type om de null waarde uit de xml toch te kunnen valideren</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ObjectNummering empty-string"/>
	</xs:simpleType>
	<xs:element name="hoek">
		<xs:annotation>
			<xs:documentation>Zie ook BGT werkafspraak : 20141224_BGT-werkafspraak-rotatiehoek.pdf</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:minInclusive value="-90"/>
				<xs:maxInclusive value="90"/>
				<xs:fractionDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tekst">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="positie">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="imgeo-pgt:plaatsingspunt"/>
				<xs:element ref="imgeo-pgt:hoek"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="plaatsingspunt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="gml:Point"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="identificatieBAG" type="imgeo-pgt:ObjectNummering"/>
	<xs:element name="openbareRuimteNaam">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="imgeo-pgt:tekst"/>
				<xs:element ref="imgeo-pgt:positie" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nummeraanduiding">
		<xs:annotation/>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="imgeo-pgt:tekst"/>
				<xs:element ref="imgeo-pgt:positie"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nummeraanduidingreeks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="imgeo-pgt:nummeraanduiding"/>
				<xs:element ref="imgeo-pgt:identificatieBAGVBOLaagsteHuisnummer"/>
				<xs:element ref="imgeo-pgt:identificatieBAGVBOHoogsteHuisnummer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="identificatieBAGVBOHoogsteHuisnummer" type="imgeo-pgt:ObjectNummering-null" nillable="true"/>
	<xs:element name="identificatieBAGVBOLaagsteHuisnummer" type="imgeo-pgt:ObjectNummering"/>
	<xs:element name="heeftLabels">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="imgeo-pgt:identificatie"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
